<p id="notice"><%= notice %></p>

<h1>Follow Requests</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @follow_requests.each do |follow_request| %>
      <tr>
        <td><%= follow_request.sender_id %></td>
        <td><%= follow_request.recipient_id %></td>
        <td><%= link_to 'Show', follow_request %></td>
        <td><%= link_to 'Edit', edit_follow_request_path(follow_request) %></td>
        <td><%= link_to 'Destroy', follow_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follow Request', new_follow_request_path %>
