<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @follow_request.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @follow_request.recipient_id %>
</p>

<%= link_to 'Edit', edit_follow_request_path(@follow_request) %> |
<%= link_to 'Back', follow_requests_path %>
